.Footer {
  background: black;
  color: white;
  height: 80px;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  background: black;
  display: flex;
  align-items: center;
}
.links li {
  display: inline;
  font-size: 1.1em;
  margin: 5px;
}
/* For widescreen */
@media only screen and (min-width: 950px) {
  .links li {
    display: inline;
    font-size: 2em;
    margin: 20px;
  }
}
